<h1>
  All Patients <small>{{patientList.type}}</small>
</h1>
<p class="lead" ng-show="patientList.patients.length === 0">
  You have no {{patientList.type}} Patients yet.
  <button class="btn btn-primary btn-sm" ng-click="patientList.addPatient()">
    <i class="glyphicon glyphicon-plus"></i> Add Patient
  </button>
</p>

<table class="table table-striped table-hover patientTable" ng-show="patientList.patients.length > 0">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>SSN</th>
      <th class="text-right">
        <button class="btn btn-primary btn-xs" ng-click="patientList.addPatient()">
          <i class="glyphicon glyphicon-plus"></i>
        </button>
      </th>
    </tr>
  </thead>
  <tr ng-repeat="patient in patientList.patients" ng-click="patientList.editPatient(patient)">
    <td>{{patient.id}}</td>
    <td>{{patient.lastName}}, {{patient.firstName}}</td>
    <td>{{patient.ssn}}</td>
    <td class="text-right">
      <button class="btn btn-primary btn-xs" ng-click="patientList.editPatient(patient)">
        <i class="glyphicon glyphicon-pencil"></i>
      </button>
    </td>
  </tr>
</table>
